---
import Hummingbird from './Hummingbird.astro'
import footer from '../data/footer.json'
import menu from '../data/menu.json'
import site from '../data/site.json'
import { getPages } from '../utils/pages'

const year = new Date().getFullYear()

const allPages = Astro.fetchContent('../data/pages/*.md')

const pages = getPages(allPages, menu.pages)
  .map(({ title, href }) => ({ title, href }))
const legalPages = getPages(allPages, footer.legal_pages)
  .map(({ title, href }) => ({ title, href }))
---

<footer class="container">
  <section>
    <div>
      {pages.map(({ title, href }) => (
        <a href={href}>{title}</a>
      ))}
    </div>

    <div>
      {legalPages.map(({ title, href }) => (
        <a href={href}>{title}</a>
      ))}
    </div>

    <a class='nohover' href='/' alt={site.title} rel="home">
      <Hummingbird width="96" height="96" theme="secondary" opacity={0.5} />
      {site.title}
    </a>

    <small>
      © Copyright {year} {site.name}. All rights reserved.
    </small>

    <br>

    <small>
      <a class='alt' href="https://www.pexels.com/photo/aurora-borealis-1938351/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">
        Aurora Borealis photo by <b>Tobias Bjørkli</b> from <b>Pexels</b>
      </a>
    </small>
  </section>
</footer>

<style lang='scss'>
  footer {
    background: var(--primary-gradient);
    color: var(--chisel-neutral-50);
    text-align: center;
    padding: 0;
    margin-top: var(--container-row-gap);
    row-gap: 0;
  }

  .container section {
    margin: 0;
    padding: var(--spacer-lg) 0;
  }

  div {
    display: flex;
    justify-content: center;
  }

  div a {
    font-size: var(--chisel-h6);
    text-decoration: none;
    text-transform: uppercase;
    padding: var(--spacer-xs);

    &:hover, &:active {
      color: inherit;
      text-decoration: underline;
    }
  }

  [rel=home] {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: var(--chisel-h3);
    font-family: var(--font-family-display);
    padding: var(--spacer-md) 0 var(--spacer-sm);
  }

  [rel=home] :global(svg) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%) scaleX(-1);
  }

  small a {
    text-decoration: none;

    & b {
      text-decoration: underline;
    }
  }

  @media screen and (min-width: 640px) {
    div a {
      font-size: var(--chisel-p);
    }
  }

  @media screen and (min-width: 979px) {
    [rel=home] :global(svg) {
      transform: translate(-50%, -45%) scale(-1.2, 1.2);
    }
  }
</style>