---
import { mdToHtml } from '../utils/markdown'

interface Props {
  data: CMS.HeroBlock
}

const { data } = Astro.props as Props
const { title, cta, content, image } = data

const contentHtml = mdToHtml(content)
---

<section class='full-bleed'>
  <div class='container'>
    <div class='wrapper'>
      <h1>{title}</h1>

      <main>
        {contentHtml}
      </main>
      
      {cta && (
        <a class="button secondary" href={cta.url}>{cta.text}</a>
      )}

      <img src={Astro.resolve(image.src)} alt={image.alt} />
    </div>
  </div>
</section>

<style lang='scss'>
  section {
    padding: var(--spacer-md) 0;
    background: var(--rainbow-gradient);
    color: var(--chisel-neutral-50);
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'title' 'image' 'content' 'cta';
    align-items: center;
    text-align: center;
  }

  h1 {
    grid-area: title;
    margin-bottom: 0;
    text-align: center;
  }

  main {
    grid-area: content;
    font-size: var(--chisel-h5);
    color: var(--chisel-neutral-900);
  }

  img {
    grid-area: image;
    border-radius: 9999px;
    width: min(60vw, 25rem);
    height: min(60vw, 25rem);
    object-fit: contain;
    justify-self: center;
    filter: var(--drop-shadow-lg);
    margin: var(--spacer-md) 0;
  }

  a.button {
    grid-area: cta;
    font-size: var(--chisel-p);
    justify-self: center;
  }

  @media screen and (min-width: 979px) {
    .wrapper {
      grid-template-columns: 1fr auto;
      grid-template-areas: 'title image' 'content image' 'cta image';
      column-gap: var(--spacer-xl);
    }

    a.button {
      margin-top: var(--spacer-sm);
    }
  }

  @media screen and (min-aspect-ratio: 1 / 1) {
    img {
      max-height: min(50vh, 25rem);
      max-width: min(50vh, 25rem);
    }
  }
</style>