---
import Header from './Header.astro'
import Icon from './Icon.astro'
import { mdToHtml } from '../utils/markdown'

interface Props {
  data: CMS.HeroBlock
}

const { data } = Astro.props as Props
const { title, cta, content, image } = data

const contentHtml = mdToHtml(content)
---

<script hoist>
  function update() {
    if (!document || !document.documentElement) {
      return;
    }

    document.documentElement.style.setProperty(
      "--app-height",
      `${window.innerHeight}px`
    );
  }

  window.addEventListener("resize", update);
  update();
</script>

<section class='full-bleed'>
  <img aria-hidden="true" alt={image.alt} src={Astro.resolve(image.src)} />

  <div class='container'>
    <Header pathname="/" />

    <div class='wrapper'>
      <h1>{title}</h1>

      <main>
        {contentHtml}
      </main>
      
      {cta && (
        <a class="button secondary" href={cta.url}>{cta.text}</a>
      )}
    </div>

    <footer>
      <Icon class='mobile' alt='Scroll down' icon='chevron-down' size={48} />
      <Icon alt='Scroll down' icon='chevron-down' size={64} />
    </footer>
  </div>
</section>

<style lang='scss'>
  section {
    position: relative;
    padding: var(--spacer-sm) 0;
    color: var(--chisel-neutral-50);
    height: 100vh;
    max-height: var(--app-height);
  }

  section > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .container {
    height: 100%;
    row-gap: 0;
    grid-template-rows: auto 1fr;
    align-items: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1 {
    grid-area: title;
    margin-bottom: 0;
    text-align: center;
  }

  main {
    font-size: var(--chisel-h5);
    color: var(--chisel-neutral-50);
  }

  a.button {
    margin-top: var(--spacer-md);
  }

  footer {
    display: flex;
    justify-content: center;

    & :global(svg) {
      animation: bounce 2s infinite;
      animation-delay: 3s;

      &:not(.mobile) {
        display: none;
      }
    }
  }

  @keyframes bounce {
    0%, 25%, 75%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(8px);
    }
    60% {
      transform: translateY(-12px);
    }
  }

  @media screen and (min-width: 979px) {
    section {
      padding: var(--spacer-md) 0;
    }

    .wrapper {
      grid-template-columns: 1fr auto;
      grid-template-areas: 'title image' 'content image' 'cta image';
      column-gap: var(--spacer-xl);
    }

    a.button {
      margin-top: var(--spacer-sm);
    }

    footer :global(svg) {
      &:not(.mobile) {
        display: block;
      }

      &.mobile {
        display: none;
      }
    }
  }
</style>