---
import clsx from 'clsx'
import Header from './Header.astro'
import Icon from './Icon.astro'
import { mdToHtml } from '../utils/markdown'

interface Props {
  data: CMS.HeroBlock
}

const { data } = Astro.props as Props
const { title, cta, content, image } = data

const contentHtml = mdToHtml(content)
---

<section class='full-bleed'  style="height: 100vh; height: --webkit-fill-available; height: moz-available; height: fill-available; max-height: 1080px;">
  {image && image.src && (
    <picture aria-hidden="true">
      <source srcset={`${image.src}?nf_resize=smartcrop&w=1185&h=667`} media="(max-height: 667px)" />
      <source srcset={`${image.src}?nf_resize=smartcrop&w=1443&h=812`} media="(max-height: 812px)" />
      <source srcset={`${image.src}?nf_resize=smartcrop&w=1920&h=1080`} />
      <img src={`${image.src}?nf_resize=smartcrop&w=1920&h=1080`} alt={image.alt} />
    </picture>
  )}
  
  <div class={`container ${clsx({ dark: !image.src })}`}>
    <Header pathname="/" alt={!!image.src} />

    <div class='wrapper'>
      <h1 class={clsx({ 'text-gradient': !image?.src })}>{title}</h1>

      <div class='content'>
        {contentHtml}
      </div>
      
      {cta && cta.url && (
        <a class="button secondary" href={cta.url}>{cta.text}</a>
      )}
    </div>

    <footer>
      <Icon class='mobile' alt='Scroll down' icon='chevron-down' size={48} />
      <Icon alt='Scroll down' icon='chevron-down' size={64} />
    </footer>
  </div>
</section>

<style lang='scss'>
  section {
    position: relative;
    padding: 0 0 var(--spacer-sm);
    color: var(--chisel-neutral-50);
  }

  section > picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container {
    height: 100%;
    row-gap: 0;
    grid-template-rows: auto 1fr;
    align-items: center;

    &.dark, &.dark .content {
      color: var(--chisel-neutral-900);
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1 {
    grid-area: title;
    margin-bottom: 0;
    text-align: center;
  }

  .content {
    font-size: var(--chisel-h5);
    color: var(--chisel-neutral-50);
  }

  a.button {
    margin-top: var(--spacer-md);
  }

  footer {
    display: flex;
    justify-content: center;
  }

  footer :global(svg) {
    animation: bounce 2s infinite;
    animation-delay: 3s;
  }

  footer :global(svg:not(.mobile)) {
    display: none;
  }

  @keyframes bounce {
    0%, 25%, 75%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(8px);
    }
    60% {
      transform: translateY(-12px);
    }
  }

  @media screen and (min-width: 979px) {
    section {
      padding: 0 0 var(--spacer-md);
    }

    .wrapper {
      grid-template-columns: 1fr auto;
      grid-template-areas: 'title image' 'content image' 'cta image';
      column-gap: var(--spacer-xl);
    }

    a.button {
      margin-top: var(--spacer-sm);
    }

    footer :global(svg:not(.mobile)) {
      display: block;
    }

    footer :global(svg.mobile) {
      display: none;
    }
  }
</style>