---
import clsx from 'clsx'
import BlockTitle from './BlockTitle.astro'
import Hummingbird from './Hummingbird.astro'
import { mdToHtml } from '../utils/markdown'

interface Props {
  data: CMS.ImageBlock
}

const { data } = Astro.props as Props
const {
  theme = 'white',
  title,
  subtitle,
  subtitleIcon,
  image,
  content,
  ctas = [],
  flipped
} = data

const contentHtml = mdToHtml(content)

const primary = theme === 'primary'
const hasFooter = ctas.length > 0
---

<section class={clsx({ 'full-bleed': true, flipped, primary })}>
  <div class='container'>
    <article class={clsx({ footer: hasFooter })}>
      <header>
        <BlockTitle title={title} subtitle={subtitle} alt={primary} subtitleIcon={subtitleIcon} class='title' />
      </header>

      <img alt={image.alt} src={image.src} />

      <main>
        {contentHtml}
      </main>

      {ctas.length > 0 && (
        <footer class={clsx({ multi: ctas.length > 1 })}>
          {ctas.map(({ text, url }) => (
            <a class={`button ${clsx({ secondary: primary })}`} href={url}>{text}</a>
          ))}
        </footer>
      )}
    </article>
  </div>
</section>

<style lang='scss'>
  section.primary {
    background: var(--primary-gradient);
    color: var(--chisel-neutral-50);
    padding: var(--container-row-gap) 0;
  }

  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'title' 'image' 'content';
    gap: var(--spacer-md);
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: var(--width-prose);

    &.footer {
      grid-template-areas: 'title' 'image' 'content' 'footer';
    }

    & :global(ul) {
      list-style: none;
      margin: var(--spacer-md) 0 0;
      text-align: start;
    }

    & :global(li) {
      position: relative;
      margin-left: 3ch;

      &:not(:last-child) {
        margin-bottom: var(--spacer-sm);
      }

      &:before {
        content: 'X';
        position: absolute;
        left: -1.5ch;
        top: 50%;
        transform: translate(0, -50%);
        font-size: var(--chisel-h3);
        font-family: var(--font-family-display);
      }
    }
  }
  
  header {
    grid-area: title;
  }

  img {
    grid-area: image;
    width: 67vw;
    max-width: 400px;
    justify-self: center;
    filter: var(--drop-shadow-lg);
    aspect-ratio: 1;
    border-radius: 999px;
  }

  main {
    grid-area: content;
  }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & :not(:last-child) {
      margin-bottom: var(--spacer-sm);
    }
  }

  footer:not(.multi) {
    align-items: center;
  }

  @media screen and (min-width: 979px) {
    article {
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 'image title' 'image content';
      gap: 0 var(--spacer-lg);
      text-align: start;
      max-width: unset;

      &.footer {
        grid-template-areas: 'image title' 'image content' 'image footer';
      }
    }

    article :global(.title) {
      text-align: start;
      justify-content: start;
    }

    img {
      width: 100%;
      max-width: initial;
    }

    footer {
      flex-direction: row;
      margin: var(--spacer-md) 0 0;
      justify-content: start;

      & a {
        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: var(--spacer-md);
        }
      }
    }

    footer:not(.multi) > * {
      align-self: start;
    }

    .flipped article {
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 'title image' 'content image' 'footer image';
      text-align: end;

      & header {
        justify-self: end;

        & :global(*) {
          text-align: end;
          justify-content: end;
        }
      }

      & footer {
        justify-content: end;
      }
    }
  }
</style>