---
import urljoin from 'url-join'
import '../assets/global.scss'
import site from '../data/site.json'

interface Props {
  title: string
  description: string
  image: string
  canonicalURL: URL
}

const {
  title,
  canonicalURL,
  ...props
} = Astro.props as Props

const image = props.image || site.social.image
const description = props.description || site.description

const imageAbsolute = urljoin(site.url, image)
const pageTitle = title || site.title
const fullTitle = [title, site.title]
  .filter(Boolean)
  .join(' • ')
---

<!-- Common -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<title>{fullTitle}</title>
<meta name="description" content={description} />
<meta name="robots" content="index,follow" />
<meta name="author" content={site.author} />
<link rel="canonical" href={canonicalURL} />

<!-- Favicons -->
<link rel="icon" type="image/svg+xml" href='/favicon.svg'>

<!-- Open Graph -->
<meta property="og:title" content={fullTitle} />
<meta property="og:site_name" content={pageTitle} />
<meta property="og:type" content="website" />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageAbsolute} />
<meta property="og:url" content={canonicalURL} />

<!-- Twitter -->
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={imageAbsolute} />
<meta name="twitter:url" content={canonicalURL} />
<meta name="twitter:card" content={site.social.twitter_card} />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap.xml" />

<!-- Fonts -->
<link rel="stylesheet" href="/fonts/Montserrat/montserrat.css">
<link rel="preload" href="/webfonts/ModernLoveRegular/font.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/webfonts/ModernLoveRegular/font.woff" as="font" type="font/woff" crossorigin>