---
import Hummingbird from './Hummingbird.astro'
import { mdToHtml } from '../utils/markdown'

interface Props {
  data: CMS.Form
}

const { data } = Astro.props as Props
const { fields, submitText, footnote } = data

const footnoteHtml = mdToHtml(footnote)
---

<form>
  {fields.map((field) => (
    <>
      <label class='sr-only' for={field.id}>{field.title}</label>
      <input type={field.type} name={field.id} id={field.id} placeholder={field.placeholder} required={field.required} />
    </>
  ))}

  <button type='submit'>{submitText}</button>
</form>

<small>{footnoteHtml}</small>

<style lang='scss'>
  form {
    margin-top: var(--spacer-sm);
    display: flex;
    flex-direction: column;
    gap: var(--spacer-xs);
  }

  input {
    background-color: var(--chisel-neutral-50);
    color: var(--chisel-neutral-900);
    border: 2px solid var(--chisel-primary);
  }

  small {
    display: block;
    text-align: center;
    margin: var(--spacer-sm) auto 0;
  }

  small :global(a) {
    color: var(--chisel-primary);
  }

  @media screen and (min-width: 979px) {
    form {
      margin: var(--spacer-md) auto 0;
      flex-direction: row;
      gap: var(--spacer-sm);
    }
    
    form, small {
      max-width: var(--width-prose);
    }
  }
</style>