---
import clsx from 'clsx'
import Icon from './Icon.astro'
import { mdToHtml } from '../utils/markdown'

interface Props {
  data: CMS.TextBlock
}

const { data } = Astro.props as Props
const { theme, title, subtitle, content, ctas = [] } = data

const contentHtml = mdToHtml(content)
const primary = theme === 'primary'
---

<section class={clsx({'full-bleed': true, primary })}>
  <div class='container container--prose'>
    <div class='wrapper'>
      <Icon icon='chevron-right' alt='' size={64} />

      <h2 class={clsx({ 'text-gradient': !primary })}>{title}</h2>
      {subtitle && (
        <h3>{subtitle}</h3>
      )}

      <main>
        {contentHtml}
      </main>

      {ctas.map(({ url, text }) => (
        <a class={clsx({ button: true, alt: primary })} href={url}>{text}</a>
      ))}

      <Icon icon='chevron-left' alt='' size={64} />
    </div>
  </div>
</section>

<style lang="scss">
  section.primary {
    padding: var(--spacer-xl) 0;
    background: var(--primary-gradient);
    color: var(--chisel-neutral-50);
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;

    & > :global(svg) {
      display: none;
      color: var(--chisel-secondary);
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      &:first-of-type {
        left: -10.75rem;
      }

      &:last-of-type {
        right: -10.75rem;
      }
    }
  }

  h2, h3 {
    margin: 0;
  }

  h2 {
    order: 2;
    text-align: center;
  }

  h3 {
    order: 1;
    margin-bottom: var(--spacer-sm);
    font-size: var(--chisel-h5);
    font-family: var(--font-family-base);
    font-weight: 400;
    text-transform: uppercase;
  }

  main {
    order: 3;
    margin-top: var(--spacer-md);
    max-width: var(--width-prose);
  }

  main :global(b) {
    color: var(--chisel-secondary);
  }

  a.button {
    order: 4;
    margin-top: var(--spacer-sm);
  }

  @media (min-width: 1280px) {
    .wrapper > :global(svg) {
      display: block;
    }
  }
</style>