---
import clsx from 'clsx'
import Hummingbird from './Hummingbird.astro'
import { mdToHtml } from '../utils/markdown'

interface Props {
  data: CMS.TextBlock
}

const { data } = Astro.props as Props
const { theme, title, subtitle, content, ctas = [] } = data

const contentHtml = mdToHtml(content)
---

<section class={clsx({'full-bleed': true, primary: theme === 'primary' })}>
  <div class='container container--prose'>
    <div class='wrapper'>
      <h2>{title}</h2>
      {subtitle && (
        <h3>{subtitle}</h3>
      )}

      <Hummingbird width="6rem" height="6rem" opacity={0.4} />

      <main>
        {contentHtml}
      </main>

      {ctas.map(({ url, text }) => (
        <a class="button" href={url}>{text}</a>
      ))}
    </div>
  </div>
</section>

<style lang="scss">
  section.primary {
    padding: var(--spacer-md) 0;
    background: var(--chisel-primary-light);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .wrapper :global(svg) {
    order: 3;
    margin: var(--spacer-sm) 0;
  }

  h2, h3 {
    margin: 0;
  }

  h2 {
    order: 2;
    color: var(--chisel-primary);
    text-align: center;
  }

  h3 {
    order: 1;
    margin-bottom: var(--spacer-sm);
    font-size: var(--chisel-h5);
    font-family: var(--font-family-base);
    font-weight: 400;
    text-transform: uppercase;
  }

  main {
    order: 4;
    max-width: var(--width-prose);
  }

  main :global(b) {
    color: var(--chisel-primary);
  }

  a.button {
    order: 5;
    margin-top: var(--spacer-sm);
  }
</style>