---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import MainHead from '../components/MainHead.astro'

interface Props {
  title: string
  description: string
  image: string
  canonicalURL: URL
  pathname: string
  showHeader?: boolean
}

const {
  title,
  description,
  image,
  canonicalURL,
  pathname,
  showHeader = true
} = Astro.props as Props
---


<html lang="en" data-chisel-theme="light">
  <head>
    <MainHead title={title} description={description} image={image} canonicalURL={canonicalURL} />
  </head>

  <body>
    <a
      id="skip-to-content"
      href="#main"
      class="sr-only sr-only-focusable"
    >
      Skip to content
    </a>

    {showHeader && (
      <div class='container'>
        <Header pathname={pathname} />
      </div>
    )}

    <main class="container" id="main">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<script>
  function update() {
    if (!document || !document.documentElement) {
      return;
    }

    document.documentElement.style.setProperty(
      "--app-height",
      `${window.innerHeight}px`
    );
  }
  update();
</script>

<style lang="scss">
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: var(--app-height);
    font-family: var(--font-family-base);
    line-height: 1.5;
  }

  a[href="#main"].sr-only.sr-only-focusable {
    top: var(--spacer-xs);
    left: var(--spacer-xs);
    background: var(--chisel-neutral-50);
    color: var(--chisel-neutral-900);
    padding: var(--spacer-xs);
    z-index: 1;
  }
</style>