---
import Layout from './Base.astro'

import Card from '../components/Card.astro'
import CardBlock from '../components/CardBlock.astro'
import HeroBlock from '../components/HeroBlock.astro'
import ImageBlock from '../components/ImageBlock.astro'
import NewsletterBlock from '../components/NewsletterBlock.astro'
import NewsletterForm from '../components/NewsletterForm.astro'
import TextBlock from '../components/TextBlock.astro'

interface Props {
  content: Page
}

const { content } = Astro.props as Props;
const { title, description, image, blocks } = content;
---

<Layout title={title} description={description} image={image} pathname={Astro.request.url.pathname} canonicalURL={Astro.request.canonicalURL}>
  {blocks.map(({ template, ...data }) => {
    switch (template) {
      case "cardblock":
        return (<CardBlock data={data} />);
      case "heroblock":
        return (<HeroBlock data={data} />);
      case "imageblock":
        return (<ImageBlock data={data} />);
      case "newsletterblock":
        return (<NewsletterBlock data={data} />);
      case "textblock":
        return (<TextBlock data={data} />);
    }
  })}

<!--
  <ImageBlock
    title='Title for the download'
    subtitle='Free download'
    flipped
    image={{
      alt: 'Books on a library shelf',
      src: Astro.resolve('../assets/images/library.jpg')
    }}>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

    <NewsletterForm />
  </ImageBlock>-->
</Layout>