---
import Layout from './Base.astro'

import Block from '../components/Block.astro'

interface Props {
  content: CMS.Page
}

const { content } = Astro.props as Props
const { title, description, image, blocks, html } = content

const hasHeroBlock = blocks.some(block => block.template === 'heroblock')

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<Layout
  title={title}
  description={description}
  image={image}
  pathname={Astro.url.pathname}
  canonicalURL={canonicalURL}
  showHeader={!hasHeroBlock}
>
  {blocks.map((block) => (<Block block={block} />))}

  {html && html.length && (
    <section>
      {html}
    </section>
  )}
</Layout>

<style lang='scss'>
  section {
    max-width: var(--width-prose);
    margin: 0 auto;

    & :global(h1), & :global(h2), & :global(h3), & :global(h4), & :global(h5), & :global(h6) {
      font-family: var(--font-family-base);
      text-align: start;
      margin: 1.5em 0 0.5em;
    }
  }
</style>
